[submodule "cmake/cmakeBuildTools"]
	path = cmake/cmakeBuildTools
	url = https://github.com/mensinda/cmakeBuildTools.git
[submodule "src/whereami"]
	path = src/whereami
	url = https://github.com/gpakosz/whereami
